html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
a:hover, .color-blue {
    color: #01AAED;
}
.color-orange {
    color: #FF5722;
}
.nothing {
    padding: 10px;
    text-align: center;
    background-color: #F2F2F2;
}
a.book-title {
    color: #1E9FFF;
    transition: all .1s ease-in-out;
}
a.book-title:hover {
    color: #FF5722;
}

/* Ö÷¿ò¼Ü */
.layui-header {
    height: 55px;
    border-bottom: 5px solid #009688;
}
.logo {
    font-size: 28px;
    line-height: 55px;
}
.layui-nav {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0;
    background-color: transparent;
}
.layui-nav .layui-nav-item {
    margin-left: 20px;
}
.layui-nav .layui-nav-item a {
    color: #999;
}
.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a {
    color: #000;
}
.layui-nav .layui-this::after, .layui-nav-bar {
    background-color: #393D49;
}
body > .layui-main {
    padding-bottom: 65px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #F2F2F2;
}

/* Ê×Ò³²àÀ¸ */
.layui-tree {
    float: left;
    width: 220px;
    line-height: 32px;
}
.layui-tree .this a {
    color: #FF5722;
}
.layui-tree li h2 {
    line-height: 36px;
    border-left: 5px solid #009E94;
    margin: 15px 0 5px;
    padding: 0 10px;
    background-color: #F2F2F2;
}
.layui-tree li a cite {
    padding-left: 15px;
}

/* Ê×Ò³ÄÚÈÝÀ¸ */
.content {
    margin-left: 235px;
    padding-top: 15px;
}
.layui-elem-quote {
    margin-bottom: 15px;
    padding: 0 0 0 15px;
    line-height: 38px;
}
#search {
    position: relative;
    display: inline-block;
    float: right;
    border-left: 1px solid #e6e6e6;
}
#search input {
    border: 0;
    padding-right: 25px;
}
#search button {
    position: absolute;
    padding-top: 5px;
    background: transparent;
    border: 0;
    top: 0;
    right: 0;
    height: 38px;
    width: 25px;
    cursor: pointer;
    color: #c2c2c2;
}
.book-list {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
.book-list:last-child {
    margin-bottom: 0;
}
.book-list:hover {
    background-color: #F2F2F2;
}
.book-list .pic, .book-detail .cover {
    float: left;
    width: 200px;
    text-align: center;
}
.book-list .pic img, .book-detail .cover img {
    max-width: 100%;
    max-height: 300px;
}
.book-list > div {
    margin-left: 215px;
}
.book-list .title, .book-detail .title {
    font-size: 16px;
    margin-bottom: 15px;
}
.book-list .type, .book-detail .author {
    margin-bottom: 15px;
}
.book-list .author {
    font-size: 14px;
}

/* Í¼ÊéÏêÇé */
.book-detail {
    border: 1px solid #E2E2E2;
    padding: 15px;
    margin-bottom: 15px;
}
.book-detail .wrap {
    overflow: hidden;
    margin-bottom: 15px;
}
.book-detail .cover {
    width: 400px;
}
.book-detail .info {
    margin-left: 415px;
}
.book-detail .title {
    font-size: 18px;
}
.book-detail button {
    margin-top: 15px;
}
.layui-elem-field {
    margin: 0;
    border-color: #E2E2E2;
}
.comment-list {
    padding: 15px 0;
    border-bottom: 1px dashed #D2D2D2;
}
.comment-list:first-child {
    padding-top: 0;
}
.comment-list:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
}
.comment-list span {
    margin-right: 15px;
}
.comment-list span.floor {
    float: right;
    margin-right: 0;
}
.comment-list p {
    margin-top: 5px;
}

/* ¹ÜÀí */
.layui-tab {
    margin: 0;
}
.fix-td-width {
    width: 500px;
}
.content.fluid {
    margin-left: 0;
}
.content.fluid .layui-tab-content {
    padding-left: 0;
    padding-right: 0;
}
.content.fluid table, .content.fluid table th {
    text-align: center;
}
.content.fluid table img {
    max-width: 100px;
    max-height: 100px;
}
.content.fluid table.book tbody td {
    height: 100px;
}

/* µÇÂ¼ */
.page-title {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 10px 15px;
    line-height: 30px;
    border-bottom: 1px solid #E2E2E2;
}
div.uname {
    display: none;
}

/* ×¢²á */
.register {
    margin-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .layui-main {
        width: auto;
        margin: 0 10px;
    }
    .layui-tree {
        width: 150px;
    }
    .content {
        margin-left: 165px;
    }
    .fix-td-width {
        width: 200px;
    }
}
@media screen and (max-width: 800px) {
    .book-list .pic {
        width: 150px;
    }
    .book-list > div {
        margin-left: 165px;
    }
    .book-detail .cover {
        width: 250px;
    }
    .book-detail .info {
        margin-left: 265px;
    }
}
@media screen and (max-width: 750px) {
    .layui-nav .layui-nav-item {
        margin-left: 10px;
    }
    .layui-nav .layui-nav-item a {
        padding: 0;
    }
    .layui-main {
        width: auto;
        margin: 0 10px;
    }
    .layui-tree {
        position: fixed;
        top: 0;
        bottom: 0;
        min-height: 0;
        overflow: auto;
        z-index: 1000;
        left: -220px;
        background-color: #fff;
        transition: all .3s ease-in-out;
    }
    td .layui-btn+.layui-btn {
        margin-left: 0;
        margin-top: 5px;
    }
    .layui-form-label {
        width: 50px;
    }
    .layui-input-block {
        margin-left: 80px;
    }
    .content {
        margin-left: 0;
    }
    .content.fluid table img {
        width: 50px;
    }
    .book-list .pic {
        width: 120px;
    }
    .book-list > div {
        margin-left: 135px;
    }
    .book-detail .cover {
        width: 150px;
    }
    .book-detail .info {
        margin-left: 165px;
    }
}
@media screen and (max-width: 500px) {
    .layui-elem-quote {
        padding: 0;
    }
    .layui-elem-quote span {
        padding-left: 15px;
    }
    #search {
        display: block;
        float: none;
        border-top: 1px solid #e6e6e6;
    }
    .book-list .pic {
        width: 85px;
    }
    .book-list > div {
        margin-left: 100px;
    }
    .layui-form-item .layui-input-inline {
        display: inline-block;
        margin: 0;
    }
    .layui-form-item .layui-input-inline+.layui-form-mid {
        display: inline-block;
        float: none;
        margin-left: 0;
        top: 0;
    }

}
@media screen and (max-width: 400px) {
    .book-list .pic {
        width: 70px;
    }
    .book-list > div {
        margin-left: 85px;
    }
    .book-detail .cover {
        width: 100px;
    }
    .book-detail .info {
        margin-left: 115px;
    }
}